{"openapi":"3.1.0","info":{"title":"API Reference","version":1,"description":"The Cohere API for interacting with Chat, Embed and Rerank models.","summary":"Cohere\u0027s API","contact":{"name":"Cohere Developers","url":"https://cohere.com/","email":"team@cohere.com"},"termsOfService":"https://cohere.com/terms-of-use","license":{"name":"proprietary","url":"https://cohere.com/terms-of-use"}},"servers":[{"url":"https://api.cohere.com","description":"production"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"/datasets","description":"Datasets API"},{"name":"/connectors","description":"Connectors API"},{"name":"/embed-jobs","description":"Embed Jobs API"},{"name":"/finetuning","description":"Finetuning API (Beta)"}],"paths":{"/v1/chat":{"post":{"parameters":[{"$ref":"#/components/parameters/RequestSource"},{"name":"Accepts","description":"Pass text/event-stream to receive the streamed response as server-sent events. The default is \u0060\\n\u0060 delimited events.\n","x-fern-audiences":["public"],"schema":{"type":"string","enum":["text/event-stream"]},"in":"header","required":false,"example":"text/event-stream"}],"x-fern-audiences":["public"],"summary":"Chat API (v1)","operationId":"chat","x-fern-streaming":{"stream-description":"Generates a streamed text response to a user message.\n\nTo learn how to use the Chat API and RAG follow our [Text Generation guides](https://docs.cohere.com/docs/chat-api).\n","stream-condition":"$request.stream","response":{"required":["text"],"x-fern-type-name":"NonStreamedChatResponse","properties":{"text":{"type":"string","x-fern-audiences":["public"],"minLength":1,"description":"Contents of the reply generated by the model."},"generation_id":{"type":"string","x-fern-audiences":["public"],"format":"uuid","description":"Unique identifier for the generated reply. Useful for submitting feedback."},"response_id":{"type":"string","x-fern-audiences":["public"],"format":"uuid","description":"Unique identifier for the response."},"citations":{"type":"array","x-fern-audiences":["public"],"minItems":0,"description":"Inline citations for the generated reply.","items":{"$ref":"#/components/schemas/ChatCitation"}},"documents":{"type":"array","x-fern-audiences":["public"],"minItems":0,"description":"Documents seen by the model when generating the reply.","items":{"$ref":"#/components/schemas/ChatDocument"}},"is_search_required":{"type":"boolean","x-fern-audiences":["public"],"description":"Denotes that a search for documents is required during the RAG flow."},"search_queries":{"type":"array","x-fern-audiences":["public"],"description":"Generated search queries, meant to be used as part of the RAG flow.","items":{"$ref":"#/components/schemas/ChatSearchQuery"}},"search_results":{"type":"array","x-fern-audiences":["public"],"minItems":0,"description":"Documents retrieved from each of the conducted searches.","items":{"$ref":"#/components/schemas/ChatSearchResult"}},"finish_reason":{"x-fern-audiences":["public"],"$ref":"#/components/schemas/FinishReason"},"tool_calls":{"x-fern-audiences":["public"],"type":"array","items":{"$ref":"#/components/schemas/ToolCall"}},"chat_history":{"type":"array","x-fern-audiences":["public"],"minItems":0,"items":{"$ref":"#/components/schemas/Message"},"description":"A list of previous messages between the user and the model, meant to give the model conversational context for responding to the user\u0027s \u0060message\u0060.\n"},"meta":{"$ref":"#/components/schemas/ApiMeta","x-fern-audiences":["public"]}}},"response-stream":{"description":"StreamedChatResponse is returned in streaming mode (specified with \u0060stream=True\u0060 in the request).","x-fern-type-name":"StreamedChatResponse","oneOf":[{"$ref":"#/components/schemas/ChatStreamStartEvent"},{"$ref":"#/components/schemas/ChatSearchQueriesGenerationEvent"},{"$ref":"#/components/schemas/ChatSearchResultsEvent"},{"$ref":"#/components/schemas/ChatTextGenerationEvent"},{"$ref":"#/components/schemas/ChatCitationGenerationEvent"},{"$ref":"#/components/schemas/ChatToolCallsGenerationEvent"},{"$ref":"#/components/schemas/ChatStreamEndEvent"},{"$ref":"#/components/schemas/ChatToolCallsChunkEvent"},{"$ref":"#/components/schemas/ChatDebugEvent"}],"discriminator":{"propertyName":"event_type","mapping":{"stream-start":"#/components/schemas/ChatStreamStartEvent","search-queries-generation":"#/components/schemas/ChatSearchQueriesGenerationEvent","search-results":"#/components/schemas/ChatSearchResultsEvent","text-generation":"#/components/schemas/ChatTextGenerationEvent","citation-generation":"#/components/schemas/ChatCitationGenerationEvent","tool-calls-generation":"#/components/schemas/ChatToolCallsGenerationEvent","stream-end":"#/components/schemas/ChatStreamEndEvent","tool-calls-chunk":"#/components/schemas/ChatToolCallsChunkEvent","debug":"#/components/schemas/ChatDebugEvent"}}}},"x-fern-examples":[{"code-samples":[{"sdk":"go","name":"Default","code":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022log\u0022\n  \u0022os\u0022\n\n  cohere \u0022github.com/cohere-ai/cohere-go/v2\u0022\n  client \u0022github.com/cohere-ai/cohere-go/v2/client\u0022\n)\n\nfunc main() {\n  co := client.NewClient(client.WithToken(os.Getenv(\u0022CO_API_KEY\u0022)))\n\n  resp, err := co.Chat(\n    context.TODO(),\n    \u0026cohere.ChatRequest{\n      Model:   cohere.String(\u0022command-a-03-2025\u0022),\n      Message: \u0022Tell me about LLMs\u0022,\n    },\n  )\n\n  if err != nil {\n    log.Fatal(err)\n  }\n\n  log.Printf(\u0022%\u002Bv\u0022, resp)\n}\n"},{"sdk":"typescript","name":"Default","code":"import { CohereClient } from \u0027cohere-ai\u0027;\n\nconst cohere = new CohereClient({});\n\n(async () =\u003E {\n  const response = await cohere.chat({\n    model: \u0027command-a-03-2025\u0027,\n    message: \u0027Tell me about LLMs\u0027,\n  });\n\n  console.log(response);\n})();\n"},{"sdk":"java","name":"Default","code":"/* (C)2024 */\npackage chatpost;\n\nimport com.cohere.api.Cohere;\nimport com.cohere.api.requests.ChatRequest;\nimport com.cohere.api.types.ChatMessage;\nimport com.cohere.api.types.Message;\nimport com.cohere.api.types.NonStreamedChatResponse;\nimport java.util.List;\n\npublic class Default {\n  public static void main(String[] args) {\n    Cohere cohere = Cohere.builder().clientName(\u0022snippet\u0022).build();\n\n    NonStreamedChatResponse response =\n        cohere.chat(\n            ChatRequest.builder()\n                .model(\u0022command-a-03-2025\u0022)\n                .message(\u0022Tell me about LLMs\u0022)\n                .build());\n\n    System.out.println(response);\n  }\n}\n"},{"sdk":"python","name":"Sync","code":"import cohere\n\nco = cohere.Client()\n\nresponse = co.chat(\n    model=\u0022command-a-03-2025\u0022,\n    message=\u0022Tell me about LLMs\u0022,\n)\n\nprint(response)\n"},{"sdk":"python","name":"Async","code":"import cohere\nimport asyncio\n\nco = cohere.AsyncClient()\n\n\nasync def main():\n    return await co.chat(\n        model=\u0022command-a-03-2025\u0022,\n        message=\u0022Tell me about LLMs\u0022\n    )\n\n\nasyncio.run(main())\n"},{"sdk":"curl","name":"Default","code":"curl --request POST \\\n  --url https://api.cohere.com/v1/chat \\\n  --header \u0027accept: application/json\u0027 \\\n  --header \u0027content-type: application/json\u0027 \\\n  --header \u0022Authorization: bearer $CO_API_KEY\u0022 \\\n  --data \u0027{\n    \u0022model\u0022: \u0022command-a-03-2025\u0022,\n    \u0022message\u0022: \u0022Tell me about LLMs\u0022\n  }\u0027\n"}],"request":{"model":"command-a-03-2025","message":"Tell me about LLMs","stream":false},"response":{"body":{"text":"Large Language Models (LLMs) are advanced AI systems trained on vast amounts of text data to understand and generate human-like text. They use deep learning architectures, particularly transformers, to process and produce language.\n\nKey characteristics of LLMs include:\n\n1. **Scale**: They\u0027re trained on billions or trillions of parameters, making them capable of understanding complex patterns in language.\n\n2. **Versatility**: LLMs can perform various tasks like translation, summarization, question answering, and creative writing without being explicitly programmed for each task.\n\n3. **Context Understanding**: They can maintain context over long conversations and generate coherent, contextually relevant responses.\n\n4. **Few-shot Learning**: LLMs can often perform new tasks with just a few examples, adapting to new scenarios quickly.\n\nPopular examples include GPT (Generative Pre-trained Transformer) models, BERT, and Cohere\u0027s Command models. These models have revolutionized natural language processing and enabled new applications across industries.","generation_id":"f47ac10b-58cc-4372-a567-0e02b2c3d479","chat_history":[{"role":"USER","message":"Tell me about LLMs"},{"role":"CHATBOT","message":"Large Language Models (LLMs) are advanced AI systems trained on vast amounts of text data to understand and generate human-like text. They use deep learning architectures, particularly transformers, to process and produce language.\n\nKey characteristics of LLMs include:\n\n1. **Scale**: They\u0027re trained on billions or trillions of parameters, making them capable of understanding complex patterns in language.\n\n2. **Versatility**: LLMs can perform various tasks like translation, summarization, question answering, and creative writing without being explicitly programmed for each task.\n\n3. **Context Understanding**: They can maintain context over long conversations and generate coherent, contextually relevant responses.\n\n4. **Few-shot Learning**: LLMs can often perform new tasks with just a few examples, adapting to new scenarios quickly.\n\nPopular examples include GPT (Generative Pre-trained Transformer) models, BERT, and Cohere\u0027s Command models. These models have revolutionized natural language processing and enabled new applications across industries."}],"finish_reason":"COMPLETE","meta":{"api_version":{"version":1},"billed_units":{"input_tokens":5,"output_tokens":198},"tokens":{"input_tokens":71,"output_tokens":198}}}}},{"code-samples":[{"sdk":"go","name":"Documents","code":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022errors\u0022\n  \u0022io\u0022\n  \u0022log\u0022\n  \u0022os\u0022\n\n  cohere \u0022github.com/cohere-ai/cohere-go/v2\u0022\n  client \u0022github.com/cohere-ai/cohere-go/v2/client\u0022\n)\n\nfunc main() {\n  co := client.NewClient(client.WithToken(os.Getenv(\u0022CO_API_KEY\u0022)))\n\n  resp, err := co.ChatStream(\n    context.TODO(),\n    \u0026cohere.ChatStreamRequest{\n      Model:   cohere.String(\u0022command-a-03-2025\u0022),\n      Message: \u0022Tell me about LLMs\u0022,\n    },\n  )\n\n  if err != nil {\n    log.Fatal(err)\n  }\n\n  // Make sure to close the stream when you\u0027re done reading.\n  // This is easily handled with defer.\n  defer resp.Close()\n\n  for {\n    message, err := resp.Recv()\n\n    if errors.Is(err, io.EOF) {\n      // An io.EOF error means the server is done sending messages\n      // and should be treated as a success.\n      break\n    }\n\n    if message.TextGeneration != nil {\n      log.Printf(\u0022%\u002Bv\u0022, resp)\n    }\n  }\n\n}\n"},{"sdk":"typescript","name":"Documents","code":"import { CohereClient } from \u0027cohere-ai\u0027;\n\nconst cohere = new CohereClient({});\n\n(async () =\u003E {\n  const response = await cohere.chat({\n    model: \u0027command-a-03-2025\u0027,\n    message: \u0027Who is more popular: Nsync or Backstreet Boys?\u0027,\n    documents: [\n      {\n        title: \u0027CSPC: Backstreet Boys Popularity Analysis - ChartMasters\u0027,\n        snippet:\n          \u0027\u2193 Skip to Main Content\\n\\nMusic industry \u2013 One step closer to being accurate\\n\\nCSPC: Backstreet Boys Popularity Analysis\\n\\nHern\u00E1n Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\\n\\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\\n\\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.\u0027,\n      },\n      {\n        title: \u0027CSPC: NSYNC Popularity Analysis - ChartMasters\u0027,\n        snippet:\n          \u0022\u2193 Skip to Main Content\\n\\nMusic industry \u2013 One step closer to being accurate\\n\\nCSPC: NSYNC Popularity Analysis\\n\\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N\u0027Sync\\n\\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven\u2019t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\\n\\nIt wasn\u2019t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.\u0022,\n      },\n      {\n        title: \u0027CSPC: Backstreet Boys Popularity Analysis - ChartMasters\u0027,\n        snippet:\n          \u0027 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\\n\\nYet the way many music consumers \u2013 especially teenagers and young women\u2019s \u2013 embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\\n\\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers.\u0027,\n      },\n      {\n        title: \u0027CSPC: NSYNC Popularity Analysis - ChartMasters\u0027,\n        snippet:\n          \u0027 Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\\n\\nAs usual, I\u2019ll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC\u2018s albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures.\u0027,\n      },\n    ],\n  });\n\n  console.log(response);\n})();\n"},{"sdk":"java","name":"Documents","code":"/* (C)2024 */\npackage chatpost;\n\nimport com.cohere.api.Cohere;\nimport com.cohere.api.requests.ChatRequest;\nimport com.cohere.api.types.NonStreamedChatResponse;\nimport java.util.List;\nimport java.util.Map;\n\npublic class Documents {\n  public static void main(String[] args) {\n    Cohere cohere = Cohere.builder().clientName(\u0022snippet\u0022).build();\n\n    NonStreamedChatResponse response =\n        cohere.chat(\n            ChatRequest.builder()\n                .model(\u0022command-a-03-2025\u0022)\n                .message(\u0022What year was he born?\u0022)\n                .documents(\n                    List.of(\n                        Map.of(\n                            \u0022title\u0022,\n                                \u0022CSPC: Backstreet Boys Popularity\u0022 \u002B \u0022 Analysis - ChartMasters\u0022,\n                            \u0022snippet\u0022,\n                                \u0022\u2193 Skip to Main Content\\n\\n\u0022\n                                    \u002B \u0022Music industry \u2013 One step\u0022\n                                    \u002B \u0022 closer to being\u0022\n                                    \u002B \u0022 accurate\\n\\n\u0022\n                                    \u002B \u0022CSPC: Backstreet Boys\u0022\n                                    \u002B \u0022 Popularity Analysis\\n\\n\u0022\n                                    \u002B \u0022Hern\u00E1n Lopez Posted on\u0022\n                                    \u002B \u0022 February 9, 2017 Posted in\u0022\n                                    \u002B \u0022 CSPC 72 Comments Tagged\u0022\n                                    \u002B \u0022 with Backstreet Boys, Boy\u0022\n                                    \u002B \u0022 band\\n\\n\u0022\n                                    \u002B \u0022At one point, Backstreet\u0022\n                                    \u002B \u0022 Boys defined success:\u0022\n                                    \u002B \u0022 massive albums sales across\u0022\n                                    \u002B \u0022 the globe, great singles\u0022\n                                    \u002B \u0022 sales, plenty of chart\u0022\n                                    \u002B \u0022 topping releases, hugely\u0022\n                                    \u002B \u0022 hyped tours and tremendous\u0022\n                                    \u002B \u0022 media coverage.\\n\\n\u0022\n                                    \u002B \u0022It is true that they\u0022\n                                    \u002B \u0022 benefited from\u0022\n                                    \u002B \u0022 extraordinarily good market\u0022\n                                    \u002B \u0022 conditions in all markets.\u0022\n                                    \u002B \u0022 After all, the all-time\u0022\n                                    \u002B \u0022 record year for the music\u0022\n                                    \u002B \u0022 business, as far as\u0022\n                                    \u002B \u0022 revenues in billion dollars\u0022\n                                    \u002B \u0022 are concerned, was actually\u0022\n                                    \u002B \u0022 1999. That is, back when\u0022\n                                    \u002B \u0022 this five men group was at\u0022\n                                    \u002B \u0022 its peak.\u0022),\n                        Map.of(\n                            \u0022title\u0022, \u0022CSPC: NSYNC Popularity Analysis -\u0022 \u002B \u0022 ChartMasters\u0022,\n                            \u0022snippet\u0022,\n                                \u0022\u2193 Skip to Main Content\\n\\n\u0022\n                                    \u002B \u0022Music industry \u2013 One step\u0022\n                                    \u002B \u0022 closer to being\u0022\n                                    \u002B \u0022 accurate\\n\\n\u0022\n                                    \u002B \u0022CSPC: NSYNC Popularity\u0022\n                                    \u002B \u0022 Analysis\\n\\n\u0022\n                                    \u002B \u0022MJD Posted on February 9,\u0022\n                                    \u002B \u0022 2018 Posted in CSPC 27\u0022\n                                    \u002B \u0022 Comments Tagged with Boy\u0022\n                                    \u002B \u0022 band, N\u0027Sync\\n\\n\u0022\n                                    \u002B \u0022At the turn of the\u0022\n                                    \u002B \u0022 millennium three teen acts\u0022\n                                    \u002B \u0022 were huge in the US, the\u0022\n                                    \u002B \u0022 Backstreet Boys, Britney\u0022\n                                    \u002B \u0022 Spears and NSYNC. The\u0022\n                                    \u002B \u0022 latter is the only one we\u0022\n                                    \u002B \u0022 haven\u2019t study so far. It\u0022\n                                    \u002B \u0022 took 15 years and Adele to\u0022\n                                    \u002B \u0022 break their record of 2,4\u0022\n                                    \u002B \u0022 million units sold of No\u0022\n                                    \u002B \u0022 Strings Attached in its\u0022\n                                    \u002B \u0022 first week alone.\\n\\n\u0022\n                                    \u002B \u0022It wasn\u2019t a fluke, as the\u0022\n                                    \u002B \u0022 second fastest selling\u0022\n                                    \u002B \u0022 album of the Soundscan era\u0022\n                                    \u002B \u0022 prior 2015, was also theirs\u0022\n                                    \u002B \u0022 since Celebrity debuted\u0022\n                                    \u002B \u0022 with 1,88 million units\u0022\n                                    \u002B \u0022 sold.\u0022),\n                        Map.of(\n                            \u0022title\u0022,\n                                \u0022CSPC: Backstreet Boys Popularity\u0022 \u002B \u0022 Analysis - ChartMasters\u0022,\n                            \u0022snippet\u0022,\n                                \u0022 1997, 1998, 2000 and 2001 also\u0022\n                                    \u002B \u0022 rank amongst some of the\u0022\n                                    \u002B \u0022 very best years.\\n\\n\u0022\n                                    \u002B \u0022Yet the way many music\u0022\n                                    \u002B \u0022 consumers \u2013 especially\u0022\n                                    \u002B \u0022 teenagers and young women\u2019s\u0022\n                                    \u002B \u0022 \u2013 embraced their output\u0022\n                                    \u002B \u0022 deserves its own chapter.\u0022\n                                    \u002B \u0022 If Jonas Brothers and more\u0022\n                                    \u002B \u0022 recently One Direction\u0022\n                                    \u002B \u0022 reached a great level of\u0022\n                                    \u002B \u0022 popularity during the past\u0022\n                                    \u002B \u0022 decade, the type of success\u0022\n                                    \u002B \u0022 achieved by Backstreet Boys\u0022\n                                    \u002B \u0022 is in a completely\u0022\n                                    \u002B \u0022 different level as they\u0022\n                                    \u002B \u0022 really dominated the\u0022\n                                    \u002B \u0022 business for a few years\u0022\n                                    \u002B \u0022 all over the world,\u0022\n                                    \u002B \u0022 including in some countries\u0022\n                                    \u002B \u0022 that were traditionally\u0022\n                                    \u002B \u0022 hard to penetrate for\u0022\n                                    \u002B \u0022 Western artists.\\n\\n\u0022\n                                    \u002B \u0022We will try to analyze the\u0022\n                                    \u002B \u0022 extent of that hegemony\u0022\n                                    \u002B \u0022 with this new article with\u0022\n                                    \u002B \u0022 final results which will\u0022\n                                    \u002B \u0022 more than surprise many\u0022\n                                    \u002B \u0022 readers.\u0022),\n                        Map.of(\n                            \u0022title\u0022,\n                            \u0022CSPC: NSYNC Popularity Analysis -\u0022 \u002B \u0022 ChartMasters\u0022,\n                            \u0022snippet\u0022,\n                            \u0022 Was the teen group led by Justin\u0022\n                                \u002B \u0022 Timberlake really that big? Was it\u0022\n                                \u002B \u0022 only in the US where they found\u0022\n                                \u002B \u0022 success? Or were they a global\u0022\n                                \u002B \u0022 phenomenon?\\n\\n\u0022\n                                \u002B \u0022As usual, I\u2019ll be using the\u0022\n                                \u002B \u0022 Commensurate Sales to Popularity\u0022\n                                \u002B \u0022 Concept in order to relevantly\u0022\n                                \u002B \u0022 gauge their results. This concept\u0022\n                                \u002B \u0022 will not only bring you sales\u0022\n                                \u002B \u0022 information for all NSYNC\u2018s albums,\u0022\n                                \u002B \u0022 physical and download singles, as\u0022\n                                \u002B \u0022 well as audio and video streaming,\u0022\n                                \u002B \u0022 but it will also determine their\u0022\n                                \u002B \u0022 true popularity. If you are not yet\u0022\n                                \u002B \u0022 familiar with the CSPC method, the\u0022\n                                \u002B \u0022 next page explains it with a short\u0022\n                                \u002B \u0022 video. I fully recommend watching\u0022\n                                \u002B \u0022 the video before getting into the\u0022\n                                \u002B \u0022 sales figures.\u0022)))\n                .build());\n\n    System.out.println(response);\n  }\n}\n"},{"sdk":"python","name":"Documents","code":"import cohere\n\nco = cohere.Client()\n\nresponse = co.chat(\n    model=\u0022command-a-03-2025\u0022,\n    message=\u0022Who is more popular: Nsync or Backstreet Boys?\u0022,\n    documents=[\n        {\n            \u0022title\u0022: \u0022CSPC: Backstreet Boys Popularity Analysis - ChartMasters\u0022,\n            \u0022snippet\u0022: \u0022\u2193 Skip to Main Content\\n\\nMusic industry \u2013 One step closer to being accurate\\n\\nCSPC: Backstreet Boys Popularity Analysis\\n\\nHern\u00E1n Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\\n\\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\\n\\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.\u0022,\n        },\n        {\n            \u0022title\u0022: \u0022CSPC: NSYNC Popularity Analysis - ChartMasters\u0022,\n            \u0022snippet\u0022: \u0022\u2193 Skip to Main Content\\n\\nMusic industry \u2013 One step closer to being accurate\\n\\nCSPC: NSYNC Popularity Analysis\\n\\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N\u0027Sync\\n\\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven\u2019t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\\n\\nIt wasn\u2019t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.\u0022,\n        },\n        {\n            \u0022title\u0022: \u0022CSPC: Backstreet Boys Popularity Analysis - ChartMasters\u0022,\n            \u0022snippet\u0022: \u0022 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\\n\\nYet the way many music consumers \u2013 especially teenagers and young women\u2019s \u2013 embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\\n\\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers.\u0022,\n        },\n        {\n            \u0022title\u0022: \u0022CSPC: NSYNC Popularity Analysis - ChartMasters\u0022,\n            \u0022snippet\u0022: \u0022 Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\\n\\nAs usual, I\u2019ll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC\u2018s albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures.\u0022,\n        },\n    ],\n)\n\nprint(response)\n"},{"sdk":"curl","name":"Documents","code":"curl --request POST \\\n  --url https://api.cohere.com/v1/chat \\\n  --header \u0027accept: application/json\u0027 \\\n  --header \u0027content-type: application/json\u0027 \\\n  --header \u0022Authorization: bearer $CO_API_KEY\u0022 \\\n  --data \u0027{\n    \u0022model\u0022: \u0022command-a-03-2025\u0022,\n    \u0022message\u0022: \u0022Who is more popular: Nsync or Backstreet Boys?\u0022,\n    \u0022documents\u0022: [\n      {\n        \u0022title\u0022: \u0022CSPC: Backstreet Boys Popularity Analysis - ChartMasters\u0022,\n        \u0022snippet\u0022: \u0022\u2193 Skip to Main Content\\\\n\\\\nMusic industry \u2013 One step closer to being accurate\\\\n\\\\nCSPC: Backstreet Boys Popularity Analysis\\\\n\\\\nHern\u00E1n Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\\\\n\\\\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\\\\n\\\\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.\u0022\n      },\n      {\n        \u0022title\u0022: \u0022CSPC: NSYNC Popularity Analysis - ChartMasters\u0022,\n        \u0022snippet\u0022: \u0022\u2193 Skip to Main Content\\\\n\\\\nMusic industry \u2013 One step closer to being accurate\\\\n\\\\nCSPC: NSYNC Popularity Analysis\\\\n\\\\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, NSync\\\\n\\\\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven\u2019t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\\\\n\\\\nIt wasn\u2019t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.\u0022\n      },\n      {\n        \u0022title\u0022: \u0022CSPC: Backstreet Boys Popularity Analysis - ChartMasters\u0022,\n        \u0022snippet\u0022: \u0022 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\\\\n\\\\nYet the way many music consumers \u2013 especially teenagers and young women\u2019s \u2013 embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\\\\n\\\\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers.\u0022\n      },\n      {\n        \u0022title\u0022: \u0022CSPC: NSYNC Popularity Analysis - ChartMasters\u0022,\n        \u0022snippet\u0022: \u0022 Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\\\\n\\\\nAs usual, I\u2019ll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC\u2018s albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures.\u0022\n      }\n    ]\n  }\u0027\n"}],"request":{"model":"command-a-03-2025","message":"Who is more popular: Nsync or Backstreet Boys?","documents":[{"title":"CSPC: Backstreet Boys Popularity Analysis - ChartMasters","snippet":"\u2193 Skip to Main Content\n\nMusic industry \u2013 One step closer to being accurate\n\nCSPC: Backstreet Boys Popularity Analysis\n\nHern\u00E1n Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\n\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\n\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak."},{"title":"CSPC: NSYNC Popularity Analysis - ChartMasters","snippet":"\u2193 Skip to Main Content\n\nMusic industry \u2013 One step closer to being accurate\n\nCSPC: NSYNC Popularity Analysis\n\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N\u0027Sync\n\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven\u2019t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\n\nIt wasn\u2019t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold."},{"title":"CSPC: Backstreet Boys Popularity Analysis - ChartMasters","snippet":"1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\nYet the way many music consumers \u2013 especially teenagers and young women\u2019s \u2013 embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\n\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers."},{"title":"CSPC: NSYNC Popularity Analysis - ChartMasters","snippet":"Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\nAs usual, I\u2019ll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC\u2018s albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures."}],"stream":false},"response":{"body":{"text":"Both NSync and Backstreet Boys were extremely popular at the turn of the millennium. Backstreet Boys had massive album sales across the globe, great singles sales, plenty of chart-topping releases, hyped tours, and tremendous media coverage. NSync also had huge sales, with their album No Strings Attached selling 2.4 million units in its first week. They also had the second fastest-selling album of the Soundscan era before 2015, with Celebrity debuting at 1.88 million units sold.\n\nWhile it is difficult to say for sure which of the two bands was more popular, Backstreet Boys did have success in some countries that were traditionally hard to penetrate for Western artists.","generation_id":"c14c80c3-18eb-4519-9460-6c92edd8cfb4","chat_history":[{"role":"USER","message":"Who is more popular: Nsync or Backstreet Boys?"},{"role":"CHATBOT","message":"Both NSync and Backstreet Boys were extremely popular at the turn of the millennium. Backstreet Boys had massive album sales across the globe, great singles sales, plenty of chart-topping releases, hyped tours, and tremendous media coverage. NSync also had huge sales, with their album No Strings Attached selling 2.4 million units in its first week. They also had the second fastest-selling album of the Soundscan era before 2015, with Celebrity debuting at 1.88 million units sold.\n\nWhile it is difficult to say for sure which of the two bands was more popular, Backstreet Boys did have success in some countries that were traditionally hard to penetrate for Western artists."}],"finish_reason":"COMPLETE","meta":{"api_version":{"version":1},"billed_units":{"input_tokens":682,"output_tokens":143},"tokens":{"input_tokens":1380,"output_tokens":434}},"citations":[{"start":36,"end":84,"text":"extremely popular at the turn of the millennium.","document_ids":["doc_1"]},{"start":105,"end":141,"text":"massive album sales across the globe","document_ids":["doc_0"]},{"start":143,"end":162,"text":"great singles sales","document_ids":["doc_0"]},{"start":164,"end":196,"text":"plenty of chart-topping releases","document_ids":["doc_0"]},{"start":198,"end":209,"text":"hyped tours","document_ids":["doc_0"]},{"start":215,"end":241,"text":"tremendous media coverage.","document_ids":["doc_0"]},{"start":280,"end":350,"text":"album No Strings Attached selling 2.4 million units in its first week.","document_ids":["doc_1"]},{"start":369,"end":430,"text":"second fastest-selling album of the Soundscan era before 2015","document_ids":["doc_1"]},{"start":437,"end":483,"text":"Celebrity debuting at 1.88 million units sold.","document_ids":["doc_1"]},{"start":589,"end":677,"text":"success in some countries that were traditionally hard to penetrate for Western artists.","document_ids":["doc_2"]}],"documents":[{"id":"doc_1","snippet":"\u2193 Skip to Main Content\n\nMusic industry \u2013 One step closer to being accurate\n\nCSPC: NSYNC Popularity Analysis\n\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N\u0027Sync\n\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven\u2019t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\n\nIt wasn\u2019t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.","title":"CSPC: NSYNC Popularity Analysis - ChartMasters"},{"id":"doc_0","snippet":"\u2193 Skip to Main Content\n\nMusic industry \u2013 One step closer to being accurate\n\nCSPC: Backstreet Boys Popularity Analysis\n\nHern\u00E1n Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\n\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\n\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.","title":"CSPC: Backstreet Boys Popularity Analysis - ChartMasters"},{"id":"doc_2","snippet":"1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\nYet the way many music consumers \u2013 especially teenagers and young women\u2019s \u2013 embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\n\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers.","title":"CSPC: Backstreet Boys Popularity Analysis - ChartMasters"}]}}},{"code-samples":[{"sdk":"go","name":"Streaming","code":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022errors\u0022\n  \u0022io\u0022\n  \u0022log\u0022\n  \u0022os\u0022\n\n  cohere \u0022github.com/cohere-ai/cohere-go/v2\u0022\n  client \u0022github.com/cohere-ai/cohere-go/v2/client\u0022\n)\n\nfunc main() {\n  co := client.NewClient(client.WithToken(os.Getenv(\u0022CO_API_KEY\u0022)))\n\n  resp, err := co.ChatStream(\n    context.TODO(),\n    \u0026cohere.ChatStreamRequest{\n      Model:   cohere.String(\u0022command-a-03-2025\u0022),\n      Message: \u0022Tell me about LLMs\u0022,\n    },\n  )\n\n  if err != nil {\n    log.Fatal(err)\n  }\n\n  // Make sure to close the stream when you\u0027re done reading.\n  // This is easily handled with defer.\n  defer resp.Close()\n\n  for {\n    message, err := resp.Recv()\n\n    if errors.Is(err, io.EOF) {\n      // An io.EOF error means the server is done sending messages\n      // and should be treated as a success.\n      break\n    }\n\n    if message.TextGeneration != nil {\n      log.Printf(\u0022%\u002Bv\u0022, resp)\n    }\n  }\n\n}\n"},{"sdk":"typescript","name":"Streaming","code":"import { CohereClient } from \u0027cohere-ai\u0027;\n\nconst cohere = new CohereClient({});\n\n(async () =\u003E {\n  const chatStream = await cohere.chatStream({\n    model: \u0027command-a-03-2025\u0027,\n    message: \u0027Tell me about LLMs\u0027,\n  });\n\n  for await (const message of chatStream) {\n    if (message.eventType === \u0027text-generation\u0027) {\n      process.stdout.write(message);\n    }\n  }\n})();\n"},{"sdk":"java","name":"Streaming","code":"/* (C)2024 */\npackage chatpost;\n\nimport com.cohere.api.Cohere;\nimport com.cohere.api.requests.ChatStreamRequest;\nimport com.cohere.api.types.ChatMessage;\nimport com.cohere.api.types.ChatTextGenerationEvent;\nimport com.cohere.api.types.Message;\nimport com.cohere.api.types.StreamedChatResponse;\nimport java.util.List;\n\npublic class Stream {\n  public static void main(String[] args) {\n    Cohere cohere = Cohere.builder().clientName(\u0022snippet\u0022).build();\n\n    Iterable\u003CStreamedChatResponse\u003E response =\n        cohere.chatStream(\n            ChatStreamRequest.builder()\n                .model(\u0022command-a-03-2025\u0022)\n                .message(\u0022Tell me about LLMs\u0022)\n                .build());\n\n    for (StreamedChatResponse chatResponse : response) {\n      if (chatResponse.isTextGeneration()) {\n        System.out.println(\n            chatResponse.getTextGeneration().map(ChatTextGenerationEvent::getText).orElse(\u0022\u0022));\n      }\n    }\n\n    System.out.println(response);\n  }\n}\n"},{"sdk":"python","name":"Streaming","code":"import cohere\n\nco = cohere.Client()\n\nresponse = co.chat_stream(\n    model=\u0022command-a-03-2025\u0022,\n    message=\u0022Tell me about LLMs\u0022,\n)\n\nfor event in response:\n    if event.event_type == \u0022text-generation\u0022:\n        print(event.text, end=\u0022\u0022)\n"},{"sdk":"curl","name":"Streaming","code":"curl --request POST \\\n  --url https://api.cohere.com/v1/chat \\\n  --header \u0027accept: application/json\u0027 \\\n  --header \u0027content-type: application/json\u0027 \\\n  --header \u0022Authorization: bearer $CO_API_KEY\u0022 \\\n  --data \u0027{\n    \u0022model\u0022: \u0022command-a-03-2025\u0022,\n    \u0022stream\u0022: true,\n    \u0022message\u0022: \u0022Tell me about LLMs\u0022\n  }\u0027\n"}],"request":{"model":"command-a-03-2025","message":"hello!","stream":true},"response":{"stream":[{"event_type":"stream-start","generation_id":"29f14a5a-11de-4cae-9800-25e4747408ea"},{"event_type":"text-generation","text":"Hello"},{"event_type":"text-generation","text":"!"},{"event_type":"text-generation","text":" How"},{"event_type":"text-generation","text":" can"},{"event_type":"text-generation","text":" I"},{"event_type":"text-generation","text":" help"},{"event_type":"text-generation","text":" you"},{"event_type":"text-generation","text":" today"},{"event_type":"text-generation","text":"?"},{"event_type":"stream-end","response":{"text":"Hello! How can I help you today?","generation_id":"29f14a5a-11de-4cae-9800-25e4747408ea","chat_history":[{"role":"USER","message":"hello world!"},{"role":"CHATBOT","message":"Hello! How can I help you today?"}],"finish_reason":"COMPLETE","meta":{"api_version":{"version":1},"billed_units":{"input_tokens":3,"output_tokens":9},"tokens":{"input_tokens":69,"output_tokens":9}}},"finish_reason":"COMPLETE"}]}},{"code-samples":[{"sdk":"go","name":"Tools","code":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022log\u0022\n  \u0022os\u0022\n\n  cohere \u0022github.com/cohere-ai/cohere-go/v2\u0022\n  client \u0022github.com/cohere-ai/cohere-go/v2/client\u0022\n)\n\nfunc main() {\n  co := client.NewClient(client.WithToken(os.Getenv(\u0022CO_API_KEY\u0022)))\n\n  resp, err := co.Chat(\n    context.TODO(),\n    \u0026cohere.ChatRequest{\n      Model:   cohere.String(\u0022command-a-03-2025\u0022),\n      Message: \u0022Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the \u0027Electronics\u0027 category, for example their prices and stock levels?\u0022,\n      Tools: []*cohere.Tool{\n        {\n          Name:        \u0022query_daily_sales_report\u0022,\n          Description: \u0022Connects to a database to retrieve overall sales volumes and sales information for a given day.\u0022,\n          ParameterDefinitions: map[string]*cohere.ToolParameterDefinitionsValue{\n            \u0022day\u0022: {\n              Description: cohere.String(\u0022Retrieves sales data for this day, formatted as YYYY-MM-DD.\u0022),\n              Type:        \u0022str\u0022,\n              Required:    cohere.Bool(true),\n            },\n          },\n        },\n        {\n          Name:        \u0022query_product_catalog\u0022,\n          Description: \u0022Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.\u0022,\n          ParameterDefinitions: map[string]*cohere.ToolParameterDefinitionsValue{\n            \u0022category\u0022: {\n              Description: cohere.String(\u0022Retrieves product information data for all products in this category.\u0022),\n              Type:        \u0022str\u0022,\n              Required:    cohere.Bool(true),\n            },\n          },\n        },\n      },\n    },\n  )\n\n  if err != nil {\n    log.Fatal(err)\n  }\n\n  log.Printf(\u0022%\u002Bv\u0022, resp)\n}\n"},{"sdk":"typescript","name":"Tools","code":"import { CohereClient } from \u0027cohere-ai\u0027;\n\nconst cohere = new CohereClient({});\n\n(async () =\u003E {\n  const response = await cohere.chat({\n    model: \u0027command-a-03-2025\u0027,\n    message:\n      \u0022Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the \u0027Electronics\u0027 category, for example their prices and stock levels?\u0022,\n    tools: [\n      {\n        name: \u0027query_daily_sales_report\u0027,\n        description:\n          \u0027Connects to a database to retrieve overall sales volumes and sales information for a given day.\u0027,\n        parameterDefinitions: {\n          day: {\n            description: \u0027Retrieves sales data for this day, formatted as YYYY-MM-DD.\u0027,\n            type: \u0027str\u0027,\n            required: true,\n          },\n        },\n      },\n      {\n        name: \u0027query_product_catalog\u0027,\n        description:\n          \u0027Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.\u0027,\n        parameterDefinitions: {\n          category: {\n            description: \u0027Retrieves product information data for all products in this category.\u0027,\n            type: \u0027str\u0027,\n            required: true,\n          },\n        },\n      },\n    ],\n  });\n\n  console.log(response);\n})();\n"},{"sdk":"java","name":"Tools","code":"/* (C)2024 */\npackage chatpost;\n\nimport com.cohere.api.Cohere;\nimport com.cohere.api.requests.ChatRequest;\nimport com.cohere.api.types.NonStreamedChatResponse;\nimport com.cohere.api.types.Tool;\nimport com.cohere.api.types.ToolParameterDefinitionsValue;\nimport java.util.List;\nimport java.util.Map;\n\npublic class Tools {\n  public static void main(String[] args) {\n    Cohere cohere = Cohere.builder().clientName(\u0022snippet\u0022).build();\n\n    NonStreamedChatResponse response =\n        cohere.chat(\n            ChatRequest.builder()\n                .model(\u0022command-a-03-2025\u0022)\n                .message(\n                    \u0022Can you provide a sales summary for 29th September 2023,\u0022\n                        \u002B \u0022 and also give me some details about the products in\u0022\n                        \u002B \u0022 the \u0027Electronics\u0027 category, for example their\u0022\n                        \u002B \u0022 prices and stock levels?\u0022)\n                .tools(\n                    List.of(\n                        Tool.builder()\n                            .name(\u0022query_daily_sales_report\u0022)\n                            .description(\n                                \u0022Connects to a database to retrieve\u0022\n                                    \u002B \u0022 overall sales volumes and\u0022\n                                    \u002B \u0022 sales information for a\u0022\n                                    \u002B \u0022 given day.\u0022)\n                            .parameterDefinitions(\n                                Map.of(\n                                    \u0022day\u0022,\n                                    ToolParameterDefinitionsValue.builder()\n                                        .type(\u0022str\u0022)\n                                        .description(\n                                            \u0022Retrieves\u0022\n                                                \u002B \u0022 sales\u0022\n                                                \u002B \u0022 data\u0022\n                                                \u002B \u0022 for this\u0022\n                                                \u002B \u0022 day,\u0022\n                                                \u002B \u0022 formatted\u0022\n                                                \u002B \u0022 as YYYY-MM-DD.\u0022)\n                                        .required(true)\n                                        .build()))\n                            .build(),\n                        Tool.builder()\n                            .name(\u0022query_product_catalog\u0022)\n                            .description(\n                                \u0022Connects to a a product catalog\u0022\n                                    \u002B \u0022 with information about all\u0022\n                                    \u002B \u0022 the products being sold,\u0022\n                                    \u002B \u0022 including categories,\u0022\n                                    \u002B \u0022 prices, and stock levels.\u0022)\n                            .parameterDefinitions(\n                                Map.of(\n                                    \u0022category\u0022,\n                                    ToolParameterDefinitionsValue.builder()\n                                        .type(\u0022str\u0022)\n                                        .description(\n                                            \u0022Retrieves\u0022\n                                                \u002B \u0022 product\u0022\n                                                \u002B \u0022 information\u0022\n                                                \u002B \u0022 data\u0022\n                                                \u002B \u0022 for all\u0022\n                                                \u002B \u0022 products\u0022\n                                                \u002B \u0022 in this\u0022\n                                                \u002B \u0022 category.\u0022)\n                                        .required(true)\n                                        .build()))\n                            .build()))\n                .build());\n\n    System.out.println(response);\n  }\n}\n"},{"sdk":"python","name":"Tools","code":"import cohere\n\nco = cohere.Client()\n\n# tool descriptions that the model has access to\ntools = [\n    {\n        \u0022name\u0022: \u0022query_daily_sales_report\u0022,\n        \u0022description\u0022: \u0022Connects to a database to retrieve overall sales volumes and sales information for a given day.\u0022,\n        \u0022parameter_definitions\u0022: {\n            \u0022day\u0022: {\n                \u0022description\u0022: \u0022Retrieves sales data for this day, formatted as YYYY-MM-DD.\u0022,\n                \u0022type\u0022: \u0022str\u0022,\n                \u0022required\u0022: True,\n            }\n        },\n    },\n    {\n        \u0022name\u0022: \u0022query_product_catalog\u0022,\n        \u0022description\u0022: \u0022Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.\u0022,\n        \u0022parameter_definitions\u0022: {\n            \u0022category\u0022: {\n                \u0022description\u0022: \u0022Retrieves product information data for all products in this category.\u0022,\n                \u0022type\u0022: \u0022str\u0022,\n                \u0022required\u0022: True,\n            }\n        },\n    },\n]\n\n\n# user request\nmessage = \u0022Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the \u0027Electronics\u0027 category, for example their prices and stock levels?\u0022\n\nresponse = co.chat(\n    model=\u0022command-a-03-2025\u0022,\n    message=message,\n    tools=tools,\n)\n\nprint(response)\n"},{"sdk":"curl","name":"Tools","code":"curl --request POST \\\n  --url https://api.cohere.com/v1/chat \\\n  --header \u0027accept: application/json\u0027 \\\n  --header \u0027content-type: application/json\u0027 \\\n  --header \u0022Authorization: bearer $CO_API_KEY\u0022 \\\n  --data \u0027{\n    \u0022model\u0022: \u0022command-a-03-2025\u0022,\n    \u0022message\u0022: \u0022Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the \u0027Electronics\u0027 category, for example their prices and stock levels?\u0022,\n    \u0022tools\u0022: [\n      {\n        \u0022name\u0022: \u0022query_daily_sales_report\u0022,\n        \u0022description\u0022: \u0022Connects to a database to retrieve overall sales volumes and sales information for a given day.\u0022,\n        \u0022parameter_definitions\u0022: {\n          \u0022day\u0022: {\n            \u0022description\u0022: \u0022Retrieves sales data for this day, formatted as YYYY-MM-DD.\u0022,\n            \u0022type\u0022: \u0022str\u0022,\n            \u0022required\u0022: true\n          }\n        }\n      },\n      {\n        \u0022name\u0022: \u0022query_product_catalog\u0022,\n        \u0022description\u0022: \u0022Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.\u0022,\n        \u0022parameter_definitions\u0022: {\n          \u0022category\u0022: {\n            \u0022description\u0022: \u0022Retrieves product information data for all products in this category.\u0022,\n            \u0022type\u0022: \u0022str\u0022,\n            \u0022required\u0022: true\n          }\n        }\n      }\n    ]\n  }\u0027\n"}],"request":{"model":"command-a-03-2025","message":"Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the \u0027Electronics\u0027 category, for example their prices and stock levels?","tools":[{"name":"query_daily_sales_report","description":"Connects to a database to retrieve overall sales volumes and sales information for a given day.","parameter_definitions":{"day":{"description":"Retrieves sales data for this day, formatted as YYYY-MM-DD.","type":"str","required":true}}},{"name":"query_product_catalog","description":"Connects to a a product catalog with information about all the products being sold, including categories, prices, and stock levels.","parameter_definitions":{"category":{"description":"Retrieves product information data for all products in this category.","type":"str","required":true}}}],"stream":false},"response":{"body":{"text":"I will first find the sales summary for 29th September 2023. Then, I will find the details of the products in the \u0027Electronics\u0027 category.","generation_id":"9e5f00aa-bf1e-481a-abe3-0eceac18c3ec","chat_history":[{"role":"USER","message":"Can you provide a sales summary for 29th September 2023, and also give me some details about the products in the \u0027Electronics\u0027 category, for example their prices and stock levels?"},{"role":"CHATBOT","message":"I will first find the sales summary for 29th September 2023. Then, I will find the details of the products in the \u0027Electronics\u0027 category.","tool_calls":[{"name":"query_daily_sales_report","parameters":{"day":"2023-09-29"}},{"name":"query_product_catalog","parameters":{"category":"Electronics"}}]}],"finish_reason":"COMPLETE","meta":{"api_version":{"version":1},"billed_units":{"input_tokens":127,"output_tokens":69},"tokens":{"input_tokens":1032,"output_tokens":124}},"tool_calls":[{"name":"query_daily_sales_report","parameters":{"day":"2023-09-29"}},{"name":"query_product_catalog","parameters":{"category":"Electronics"}}]}}}],"description":"Generates a text response to a user message.\nTo learn how to use the Chat API and RAG follow our [Text Generation guides](https://docs.cohere.com/docs/chat-api).\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","x-fern-audiences":["public"],"x-examples":{"Chat":{"value":{"message":"Can you give me a global market overview of solar panels?","temperature":0.3,"stream":false,"chat_history":[{"role":"User","message":"Hi!"},{"role":"Chatbot","message":"How can I help you today?"}],"prompt_truncation":"OFF"}}},"required":["message"],"properties":{"message":{"type":"string","x-fern-audiences":["public"],"description":"Text input for the model to respond to.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"},"model":{"type":"string","x-fern-audiences":["public"],"description":"The name of a compatible [Cohere model](https://docs.cohere.com/docs/models) or the ID of a [fine-tuned](https://docs.cohere.com/docs/chat-fine-tuning) model.\n\nCompatible Deployments: Cohere Platform, Private Deployments\n"},"stream":{"description":"Defaults to \u0060false\u0060.\n\nWhen \u0060true\u0060, the response will be a JSON stream of events. The final event will contain the complete response, and will have an \u0060event_type\u0060 of \u0060\u0022stream-end\u0022\u0060.\n\nStreaming is beneficial for user interfaces that render the contents of the response piece by piece, as it gets generated.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n","type":"boolean","x-fern-audiences":["public"]},"preamble":{"description":"When specified, the default Cohere preamble will be replaced with the provided one. Preambles are a part of the prompt used to adjust the model\u0027s overall behavior and conversation style, and use the \u0060SYSTEM\u0060 role.\n\nThe \u0060SYSTEM\u0060 role is also used for the contents of the optional \u0060chat_history=\u0060 parameter. When used with the \u0060chat_history=\u0060 parameter it adds content throughout a conversation. Conversely, when used with the \u0060preamble=\u0060 parameter it adds content at the start of the conversation only.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n","type":"string","x-fern-audiences":["public"]},"chat_history":{"type":"array","x-fern-audiences":["public"],"minItems":0,"items":{"$ref":"#/components/schemas/Message"},"description":"A list of previous messages between the user and the model, giving the model conversational context for responding to the user\u0027s \u0060message\u0060.\n\nEach item represents a single message in the chat history, excluding the current user turn. It has two properties: \u0060role\u0060 and \u0060message\u0060. The \u0060role\u0060 identifies the sender (\u0060CHATBOT\u0060, \u0060SYSTEM\u0060, or \u0060USER\u0060), while the \u0060message\u0060 contains the text content.\n\nThe chat_history parameter should not be used for \u0060SYSTEM\u0060 messages in most cases. Instead, to add a \u0060SYSTEM\u0060 role message at the beginning of a conversation, the \u0060preamble\u0060 parameter should be used.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"},"conversation_id":{"type":"string","x-fern-audiences":["public"],"description":"An alternative to \u0060chat_history\u0060.\n\nProviding a \u0060conversation_id\u0060 creates or resumes a persisted conversation with the specified ID. The ID can be any non empty string.\n\nCompatible Deployments: Cohere Platform\n"},"prompt_truncation":{"type":"string","x-fern-audiences":["public"],"enum":["OFF","AUTO","AUTO_PRESERVE_ORDER"],"description":"Defaults to \u0060AUTO\u0060 when \u0060connectors\u0060 are specified and \u0060OFF\u0060 in all other cases.\n\nDictates how the prompt will be constructed.\n\nWith \u0060prompt_truncation\u0060 set to \u0022AUTO\u0022, some elements from \u0060chat_history\u0060 and \u0060documents\u0060 will be dropped in an attempt to construct a prompt that fits within the model\u0027s context length limit. During this process the order of the documents and chat history will be changed and ranked by relevance.\n\nWith \u0060prompt_truncation\u0060 set to \u0022AUTO_PRESERVE_ORDER\u0022, some elements from \u0060chat_history\u0060 and \u0060documents\u0060 will be dropped in an attempt to construct a prompt that fits within the model\u0027s context length limit. During this process the order of the documents and chat history will be preserved as they are inputted into the API.\n\nWith \u0060prompt_truncation\u0060 set to \u0022OFF\u0022, no elements will be dropped. If the sum of the inputs exceeds the model\u0027s context length limit, a \u0060TooManyTokens\u0060 error will be returned.\n\nCompatible Deployments:\n - AUTO: Cohere Platform Only\n - AUTO_PRESERVE_ORDER: Azure, AWS Sagemaker/Bedrock, Private Deployments\n"},"connectors":{"deprecated":true,"type":"array","x-fern-audiences":["public"],"minItems":0,"items":{"$ref":"#/components/schemas/ChatConnector"},"description":"Accepts \u0060{\u0022id\u0022: \u0022web-search\u0022}\u0060, and/or the \u0060\u0022id\u0022\u0060 for a custom [connector](https://docs.cohere.com/docs/connectors), if you\u0027ve [created](https://docs.cohere.com/v1/docs/creating-and-deploying-a-connector) one.\n\nWhen specified, the model\u0027s reply will be enriched with information found by querying each of the connectors (RAG).\n\nCompatible Deployments: Cohere Platform\n"},"search_queries_only":{"deprecated":true,"type":"boolean","x-fern-audiences":["public"],"description":"Defaults to \u0060false\u0060.\n\nWhen \u0060true\u0060, the response will only contain a list of generated search queries, but no search will take place, and no reply from the model to the user\u0027s \u0060message\u0060 will be generated.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"},"documents":{"description":"A list of relevant documents that the model can cite to generate a more accurate reply. Each document is a string-string dictionary.\n\nExample:\n\u0060\u0060\u0060\n[\n  { \u0022title\u0022: \u0022Tall penguins\u0022, \u0022text\u0022: \u0022Emperor penguins are the tallest.\u0022 },\n  { \u0022title\u0022: \u0022Penguin habitats\u0022, \u0022text\u0022: \u0022Emperor penguins only live in Antarctica.\u0022 },\n]\n\u0060\u0060\u0060\n\nKeys and values from each document will be serialized to a string and passed to the model. The resulting generation will include citations that reference some of these documents.\n\nSome suggested keys are \u0022text\u0022, \u0022author\u0022, and \u0022date\u0022. For better generation quality, it is recommended to keep the total word count of the strings in the dictionary to under 300 words.\n\nAn \u0060id\u0060 field (string) can be optionally supplied to identify the document in the citations. This field will not be passed to the model.\n\nAn \u0060_excludes\u0060 field (array of strings) can be optionally supplied to omit some key-value pairs from being shown to the model. The omitted fields will still show up in the citation object. The \u0022_excludes\u0022 field will not be passed to the model.\n\nSee [\u0027Document Mode\u0027](https://docs.cohere.com/docs/retrieval-augmented-generation-rag#document-mode) in the guide for more information.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n","type":"array","x-fern-audiences":["public"],"items":{"$ref":"#/components/schemas/ChatDocument"}},"citation_quality":{"type":"string","x-fern-audiences":["public"],"description":"Defaults to \u0060\u0022enabled\u0022\u0060.\nCitations are enabled by default for models that support it, but can be turned off by setting \u0060\u0022type\u0022: \u0022disabled\u0022\u0060.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n","enum":["ENABLED","DISABLED","FAST","ACCURATE","OFF"]},"temperature":{"type":"number","x-fern-audiences":["public"],"format":"float","minimum":0,"maximum":1,"description":"Defaults to \u00600.3\u0060.\n\nA non-negative float that tunes the degree of randomness in generation. Lower temperatures mean less random generations, and higher temperatures mean more random generations.\n\nRandomness can be further maximized by increasing the  value of the \u0060p\u0060 parameter.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"},"max_tokens":{"type":"integer","x-fern-audiences":["public"],"description":"The maximum number of tokens the model will generate as part of the response. Note: Setting a low value may result in incomplete generations.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n","writeOnly":true},"max_input_tokens":{"type":"integer","x-fern-audiences":["public"],"description":"The maximum number of input tokens to send to the model. If not specified, \u0060max_input_tokens\u0060 is the model\u0027s context length limit minus a small buffer.\n\nInput will be truncated according to the \u0060prompt_truncation\u0060 parameter.\n\nCompatible Deployments: Cohere Platform\n","writeOnly":true},"k":{"type":"integer","x-fern-audiences":["public"],"description":"Ensures only the top \u0060k\u0060 most likely tokens are considered for generation at each step.\nDefaults to \u00600\u0060, min value of \u00600\u0060, max value of \u0060500\u0060.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n","writeOnly":true,"default":0,"minimum":0,"maximum":500},"p":{"type":"number","x-fern-audiences":["public"],"description":"Ensures that only the most likely tokens, with total probability mass of \u0060p\u0060, are considered for generation at each step. If both \u0060k\u0060 and \u0060p\u0060 are enabled, \u0060p\u0060 acts after \u0060k\u0060.\nDefaults to \u00600.75\u0060. min value of \u00600.01\u0060, max value of \u00600.99\u0060.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n","writeOnly":true,"default":0.75,"minimum":0.01,"maximum":0.99},"seed":{"x-fern-audiences":["public"],"minimum":0,"maximum":1.8446744E+19,"type":"integer","description":"If specified, the backend will make a best effort to sample tokens\ndeterministically, such that repeated requests with the same\nseed and parameters should return the same result. However,\ndeterminism cannot be totally guaranteed.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"},"stop_sequences":{"x-fern-audiences":["public"],"writeOnly":true,"type":"array","items":{"type":"string"},"description":"A list of up to 5 strings that the model will use to stop generation. If the model generates a string that matches any of the strings in the list, it will stop generating tokens and return the generated text up to that point not including the stop sequence.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"},"frequency_penalty":{"type":"number","x-fern-audiences":["public"],"description":"Defaults to \u00600.0\u0060, min value of \u00600.0\u0060, max value of \u00601.0\u0060.\n\nUsed to reduce repetitiveness of generated tokens. The higher the value, the stronger a penalty is applied to previously present tokens, proportional to how many times they have already appeared in the prompt or prior generation.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n","writeOnly":true},"presence_penalty":{"type":"number","x-fern-audiences":["public"],"description":"Defaults to \u00600.0\u0060, min value of \u00600.0\u0060, max value of \u00601.0\u0060.\n\nUsed to reduce repetitiveness of generated tokens. Similar to \u0060frequency_penalty\u0060, except that this penalty is applied equally to all tokens that have already appeared, regardless of their exact frequencies.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n","writeOnly":true},"raw_prompting":{"x-fern-audiences":["sdk-only"],"type":"boolean","description":"When enabled, the user\u0027s prompt will be sent to the model without\nany pre-processing.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"},"tools":{"x-fern-audiences":["public"],"description":"A list of available tools (functions) that the model may suggest invoking before producing a text response.\n\nWhen \u0060tools\u0060 is passed (without \u0060tool_results\u0060), the \u0060text\u0060 field in the response will be \u0060\u0022\u0022\u0060 and the \u0060tool_calls\u0060 field in the response will be populated with a list of tool calls that need to be made. If no calls need to be made, the \u0060tool_calls\u0060 array will be empty.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n","type":"array","items":{"$ref":"#/components/schemas/Tool"},"minItems":0},"tool_results":{"x-fern-audiences":["public"],"description":"A list of results from invoking tools recommended by the model in the previous chat turn. Results are used to produce a text response and will be referenced in citations. When using \u0060tool_results\u0060, \u0060tools\u0060 must be passed as well.\nEach tool_result contains information about how it was invoked, as well as a list of outputs in the form of dictionaries.\n\n**Note**: \u0060outputs\u0060 must be a list of objects. If your tool returns a single object (eg \u0060{\u0022status\u0022: 200}\u0060), make sure to wrap it in a list.\n\u0060\u0060\u0060\ntool_results = [\n  {\n    \u0022call\u0022: {\n      \u0022name\u0022: \u003Ctool name\u003E,\n      \u0022parameters\u0022: {\n        \u003Cparam name\u003E: \u003Cparam value\u003E\n      }\n    },\n    \u0022outputs\u0022: [{\n      \u003Ckey\u003E: \u003Cvalue\u003E\n    }]\n  },\n  ...\n]\n\u0060\u0060\u0060\n**Note**: Chat calls with \u0060tool_results\u0060 should not be included in the Chat history to avoid duplication of the message text.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n","type":"array","minItems":0,"items":{"$ref":"#/components/schemas/ToolResult"}},"force_single_step":{"x-fern-audiences":["public"],"type":"boolean","description":"Forces the chat to be single step. Defaults to \u0060false\u0060."},"response_format":{"x-fern-audiences":["public"],"$ref":"#/components/schemas/ResponseFormat"},"safety_mode":{"x-fern-audiences":["public"],"x-fern-availability":"beta","enum":["CONTEXTUAL","STRICT","NONE"],"description":"Used to select the [safety instruction](https://docs.cohere.com/docs/safety-modes) inserted into the prompt. Defaults to \u0060CONTEXTUAL\u0060.\nWhen \u0060NONE\u0060 is specified, the safety instruction will be omitted.\n\nSafety modes are not yet configurable in combination with \u0060tools\u0060, \u0060tool_results\u0060 and \u0060documents\u0060 parameters.\n\n**Note**: This parameter is only compatible newer Cohere models, starting with [Command R 08-2024](https://docs.cohere.com/docs/command-r#august-2024-release) and [Command R\u002B 08-2024](https://docs.cohere.com/docs/command-r-plus#august-2024-release).\n\n**Note**: \u0060command-r7b-12-2024\u0060 and newer models only support \u0060\u0022CONTEXTUAL\u0022\u0060 and \u0060\u0022STRICT\u0022\u0060 modes.\n\nCompatible Deployments: Cohere Platform, Azure, AWS Sagemaker/Bedrock, Private Deployments\n"}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/NonStreamedChatResponse"},{"$ref":"#/components/schemas/StreamedChatResponse"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimit"},"498":{"$ref":"#/components/responses/InvalidToken"},"499":{"$ref":"#/components/responses/RequestCancelled"},"500":{"$ref":"#/components/responses/InternalServerError"},"501":{"$ref":"#/components/responses/NotImplemented"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}}}},"/v2/chat":{"post":{"summary":"Chat API (v2)","operationId":"chatv2","x-fern-audiences":["v2-beta"],"x-fern-sdk-group-name":"v2","x-fern-sdk-method-name":"chat","x-fern-streaming":{"format":"sse","terminator":"[DONE]","stream-condition":"$request.stream","stream-description":"Generates a text response to a user message. To learn how to use the Chat API and RAG follow our [Text Generation guides](https://docs.cohere.com/v2/docs/chat-api).\n\nFollow the [Migration Guide](https://docs.cohere.com/v2/docs/migrating-v1-to-v2) for instructions on moving from API v1 to API v2.\n","response":{"required":["id","finish_reason","message"],"properties":{"id":{"type":"string","description":"Unique identifier for the generated reply. Useful for submitting feedback."},"finish_reason":{"$ref":"#/components/schemas/ChatFinishReason"},"message":{"$ref":"#/components/schemas/AssistantMessageResponse"},"usage":{"$ref":"#/components/schemas/Usage"},"logprobs":{"type":"array","items":{"$ref":"#/components/schemas/LogprobItem"}}}},"response-stream":{"description":"StreamedChatResponse is returned in streaming mode (specified with \u0060stream=True\u0060 in the request).","oneOf":[{"$ref":"#/components/schemas/ChatMessageStartEvent"},{"$ref":"#/components/schemas/ChatContentStartEvent"},{"$ref":"#/components/schemas/ChatContentDeltaEvent"},{"$ref":"#/components/schemas/ChatContentEndEvent"},{"$ref":"#/components/schemas/ChatToolPlanDeltaEvent"},{"$ref":"#/components/schemas/ChatToolCallStartEvent"},{"$ref":"#/components/schemas/ChatToolCallDeltaEvent"},{"$ref":"#/components/schemas/ChatToolCallEndEvent"},{"$ref":"#/components/schemas/ChatMessageEndEvent"},{"$ref":"#/components/schemas/ChatDebugEvent"}],"discriminator":{"propertyName":"type","mapping":{"message-start":"#/components/schemas/ChatMessageStartEvent","content-start":"#/components/schemas/ChatContentStartEvent","content-delta":"#/components/schemas/ChatContentDeltaEvent","content-end":"#/components/schemas/ChatContentEndEvent","tool-plan-delta":"#/components/schemas/ChatToolPlanDeltaEvent","tool-call-start":"#/components/schemas/ChatToolCallStartEvent","tool-call-delta":"#/components/schemas/ChatToolCallDeltaEvent","tool-call-end":"#/components/schemas/ChatToolCallEndEvent","citation-start":"#/components/schemas/CitationStartEvent","citation-end":"#/components/schemas/CitationEndEvent","message-end":"#/components/schemas/ChatMessageEndEvent","debug":"#/components/schemas/ChatDebugEvent"}}}},"description":"Generates a text response to a user message and streams it down, token by token. To learn how to use the Chat API with streaming follow our [Text Generation guides](https://docs.cohere.com/v2/docs/chat-api).\n\nFollow the [Migration Guide](https://docs.cohere.com/v2/docs/migrating-v1-to-v2) for instructions on moving from API v1 to API v2.\n","parameters":[{"$ref":"#/components/parameters/RequestSource"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["messages","model"],"properties":{"stream":{"description":"Defaults to \u0060false\u0060.\n\nWhen \u0060true\u0060, the response will be a SSE stream of events.\n\nStreaming is beneficial for user interfaces that render the contents of the response piece by piece, as it gets generated.\n","type":"boolean","x-fern-audiences":["public"]},"model":{"x-fern-audiences":["public"],"type":"string","description":"The name of a compatible [Cohere model](https://docs.cohere.com/v2/docs/models)."},"messages":{"x-fern-audiences":["public"],"$ref":"#/components/schemas/ChatMessages"},"tools":{"x-fern-audiences":["public"],"type":"array","items":{"$ref":"#/components/schemas/ToolV2"},"description":"A list of tools (functions) available to the model. The model response may contain \u0027tool_calls\u0027 to the specified tools.\n\nLearn more in the [Tool Use guide](https://docs.cohere.com/docs/tools).\n"},"strict_tools":{"x-fern-audiences":["public"],"x-fern-availability":"beta","type":"boolean","description":"When set to \u0060true\u0060, tool calls in the Assistant message will be forced to follow the tool definition strictly. Learn more in the [Structured Outputs (Tools) guide](https://docs.cohere.com/docs/structured-outputs-json#structured-outputs-tools).\n\n**Note**: The first few requests with a new set of tools will take longer to process.\n"},"documents":{"x-fern-audiences":["public"],"type":"array","items":{"oneOf":[{"type":"string"},{"$ref":"#/components/schemas/Document"}]},"description":"A list of relevant documents that the model can cite to generate a more accurate reply. Each document is either a string or document object with content and metadata.\n"},"citation_options":{"x-fern-audiences":["public"],"$ref":"#/components/schemas/CitationOptions"},"response_format":{"x-fern-audiences":["public"],"$ref":"#/components/schemas/ResponseFormatV2"},"safety_mode":{"x-fern-audiences":["public"],"enum":["CONTEXTUAL","STRICT","OFF"],"description":"Used to select the [safety instruction](https://docs.cohere.com/v2/docs/safety-modes) inserted into the prompt. Defaults to \u0060CONTEXTUAL\u0060.\nWhen \u0060OFF\u0060 is specified, the safety instruction will be omitted.\n\nSafety modes are not yet configurable in combination with \u0060tools\u0060 and \u0060documents\u0060 parameters.\n\n**Note**: This parameter is only compatible newer Cohere models, starting with [Command R 08-2024](https://docs.cohere.com/docs/command-r#august-2024-release) and [Command R\u002B 08-2024](https://docs.cohere.com/docs/command-r-plus#august-2024-release).\n\n**Note**: \u0060command-r7b-12-2024\u0060 and newer models only support \u0060\u0022CONTEXTUAL\u0022\u0060 and \u0060\u0022STRICT\u0022\u0060 modes.\n"},"max_tokens":{"x-fern-audiences":["public"],"type":"integer","description":"The maximum number of output tokens the model will generate in the response. If not set, \u0060max_tokens\u0060 defaults to the model\u0027s maximum output token limit. You can find the maximum output token limits for each model in the [model documentation](https://docs.cohere.com/docs/models).\n\n**Note**: Setting a low value may result in incomplete generations. In such cases, the \u0060finish_reason\u0060 field in the response will be set to \u0060\u0022MAX_TOKENS\u0022\u0060.\n\n**Note**: If \u0060max_tokens\u0060 is set higher than the model\u0027s maximum output token limit, the generation will be capped at that model-specific maximum limit.\n"},"stop_sequences":{"x-fern-audiences":["public"],"type":"array","items":{"type":"string"},"description":"A list of up to 5 strings that the model will use to stop generation. If the model generates a string that matches any of the strings in the list, it will stop generating tokens and return the generated text up to that point not including the stop sequence.\n"},"temperature":{"x-fern-audiences":["public"],"type":"number","format":"float","minimum":0,"maximum":1,"description":"Defaults to \u00600.3\u0060.\n\nA non-negative float that tunes the degree of randomness in generation. Lower temperatures mean less random generations, and higher temperatures mean more random generations.\n\nRandomness can be further maximized by increasing the  value of the \u0060p\u0060 parameter.\n"},"seed":{"x-fern-audiences":["public"],"type":"integer","minimum":0,"maximum":1.8446744E+19,"description":"If specified, the backend will make a best effort to sample tokens\ndeterministically, such that repeated requests with the same\nseed and parameters should return the same result. However,\ndeterminism cannot be totally guaranteed.\n"},"frequency_penalty":{"x-fern-audiences":["public"],"type":"number","format":"float","description":"Defaults to \u00600.0\u0060, min value of \u00600.0\u0060, max value of \u00601.0\u0060.\nUsed to reduce repetitiveness of generated tokens. The higher the value, the stronger a penalty is applied to previously present tokens, proportional to how many times they have already appeared in the prompt or prior generation.\n"},"presence_penalty":{"x-fern-audiences":["public"],"type":"number","format":"float","description":"Defaults to \u00600.0\u0060, min value of \u00600.0\u0060, max value of \u00601.0\u0060.\nUsed to reduce repetitiveness of generated tokens. Similar to \u0060frequency_penalty\u0060, except that this penalty is applied equally to all tokens that have already appeared, regardless of their exact frequencies.\n"},"k":{"x-fern-audiences":["public"],"type":"integer","default":0,"minimum":0,"maximum":500,"description":"Ensures that only the top \u0060k\u0060 most likely tokens are considered for generation at each step. When \u0060k\u0060 is set to \u00600\u0060, k-sampling is disabled.\nDefaults to \u00600\u0060, min value of \u00600\u0060, max value of \u0060500\u0060.\n"},"p":{"x-fern-audiences":["public"],"type":"number","format":"float","default":0.75,"minimum":0.01,"maximum":0.99,"description":"Ensures that only the most likely tokens, with total probability mass of \u0060p\u0060, are considered for generation at each step. If both \u0060k\u0060 and \u0060p\u0060 are enabled, \u0060p\u0060 acts after \u0060k\u0060.\nDefaults to \u00600.75\u0060. min value of \u00600.01\u0060, max value of \u00600.99\u0060.\n"},"logprobs":{"x-fern-audiences":["public"],"type":"boolean","description":"Defaults to \u0060false\u0060. When set to \u0060true\u0060, the log probabilities of the generated tokens will be included in the response.\n"},"tool_choice":{"x-fern-audiences":["public"],"enum":["REQUIRED","NONE"],"description":"Used to control whether or not the model will be forced to use a tool when answering. When \u0060REQUIRED\u0060 is specified, the model will be forced to use at least one of the user-defined tools, and the \u0060tools\u0060 parameter must be passed in the request.\nWhen \u0060NONE\u0060 is specified, the model will be forced **not** to use one of the specified tools, and give a direct response.\nIf tool_choice isn\u0027t specified, then the model is free to choose whether to use the specified tools or not.\n\n**Note**: This parameter is only compatible with models [Command-r7b](https://docs.cohere.com/v2/docs/command-r7b) and newer.\n"},"thinking":{"x-fern-audiences":["public"],"$ref":"#/components/schemas/Thinking"},"priority":{"x-fern-audiences":["public"],"type":"integer","default":0,"minimum":0,"maximum":999,"description":"Controls how early the request is handled. Lower numbers indicate higher priority (default: 0, the highest). When the system is under load, higher-priority requests are processed first and are the least likely to be dropped."}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/ChatResponseV2"},{"$ref":"#/components/schemas/StreamedChatResponseV2"}]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"422":{"$ref":"#/components/responses/UnprocessableEntity"},"429":{"$ref":"#/components/responses/RateLimit"},"498":{"$ref":"#/components/responses/InvalidToken"},"499":{"$ref":"#/components/responses/RequestCancelled"},"500":{"$ref":"#/components/responses/InternalServerError"},"501":{"$ref":"#/components/responses/NotImplemented"},"503":{"$ref":"#/components/responses/ServiceUnavailable"},"504":{"$ref":"#/components/responses/GatewayTimeout"}},"x-fern-examples":[{"code-samples":[{"sdk":"typescript","name":"Default","code":"const { CohereClientV2 } = require(\u0027cohere-ai\u0027);\n\nconst cohere = new CohereClientV2({});\n\n(async () =\u003E {\n  const response = await cohere.chat({\n    model: \u0027command-a-plus-05-2026\u0027,\n    messages: [\n      {\n        role: \u0027user\u0027,\n        content: \u0027Tell me about LLMs\u0027,\n      },\n    ],\n  });\n\n  console.log(response);\n})();\n"},{"sdk":"python","name":"Default","code":"import cohere\n\nco = cohere.ClientV2()\n\nresponse = co.chat(\n    model=\u0022command-a-plus-05-2026\u0022,\n    messages=[{\u0022role\u0022: \u0022user\u0022, \u0022content\u0022: \u0022Tell me about LLMs\u0022}],\n)\n\nprint(response)\n"},{"sdk":"python","name":"Async","code":"import cohere\nimport asyncio\n\nco = cohere.AsyncClientV2()\n\nasync def main():\n    response = await co.chat(\n        model=\u0022command-a-plus-05-2026\u0022,\n        messages=[{\u0022role\u0022: \u0022user\u0022, \u0022content\u0022: \u0022Tell me about LLMs\u0022}],\n    )\n    print(response)\n\nasyncio.run(main())\n"},{"sdk":"go","name":"Default","code":"package main\n\nimport (\n  \u0022context\u0022\n  \u0022log\u0022\n  \u0022os\u0022\n\n  cohere \u0022github.com/cohere-ai/cohere-go/v2\u0022\n  client \u0022github.com/cohere-ai/cohere-go/v2/client\u0022\n)\n\nfunc main() {\n  co := client.NewClient(client.WithToken(os.Getenv(\u0022CO_API_KEY\u0022)))\n\n  resp, err := co.V2.Chat(\n    context.TODO(),\n    \u0026cohere.V2ChatRequest{\n      Model: \u0022command-a-plus-05-2026\u0022,\n      Messages: cohere.ChatMessages{\n        {\n          Role: \u0022user\u0022,\n          User: \u0026cohere.UserMessageV2{\n            Content: \u0026cohere.UserMessageV2Content{\n              String: \u0022Tell me about LLMs\u0022,\n            },\n          },\n        },\n      },\n    },\n  )\n\n  if err != nil {\n    log.Fatal(err)\n  }\n\n  log.Printf(\u0022%\u002Bv\u0022, resp)\n}\n"},{"sdk":"java","name":"Default","code":"/* (C)2024 */\npackage chatv2post;\n\nimport com.cohere.api.Cohere;\nimport com.cohere.api.resources.v2.requests.V2ChatRequest;\nimport com.cohere.api.types.*;\nimport java.util.List;\n\npublic class Default {\n  public static void main(String[] args) {\n    Cohere cohere = Cohere.builder().clientName(\u0022snippet\u0022).build();\n\n    ChatResponse response =\n        cohere\n            .v2()\n            .chat(\n                V2ChatRequest.builder()\n                    .model(\u0022command-a-plus-05-2026\u0022)\n                    .messages(\n                        List.of(\n                            ChatMessageV2.user(\n                                UserMessage.builder()\n                                    .content(UserMessageContent.of(\u0022Tell me about LLMs\u0022))\n                                    .build())))\n                    .build());\n\n    System.out.println(response);\n  }\n}\n"},{"sdk":"curl","name":"Default","code":"curl --request POST \\\n  --url https://api.cohere.com/v2/chat \\\n  --header \u0027accept: application/json\u0027 \\\n  --header \u0027content-type: application/json\u0027 \\\n  --header \u0022Authorization: bearer $CO_API_KEY\u0022 \\\n  --data \u0027{\n    \u0022model\u0022: \u0022command-a-plus-05-2026\u0022,\n    \u0022messages\u0022: [\n      {\n        \u0022role\u0022: \u0022user\u0022,\n        \u0022content\u0022: \u0022Tell me about LLMs\u0022\n      }\n    ]\n  }\u0027\n"}],"request":{"model":"command-a-plus-05-2026","messages":[{"role":"user","content":"Tell me about LLMs"}],"stream":false},"response":{"body":{"id":"c14c80c3-18eb-4519-9460-6c92edd8cfb4","message":{"role":"assistant","content":[{"type":"text","text":"LLMs stand for Large Language Models, which are a type of neural network model specialized in processing and generating human language. They are designed to understand and respond to natural language input and have become increasingly popular and valuable in recent years.\n\nLLMs are trained on vast amounts of text data, enabling them to learn patterns, grammar, and semantic meanings present in the language. These models can then be used for various natural language processing tasks, such as text generation, summarization, question answering, machine translation, sentiment analysis, and even some aspects of natural language understanding.\n\nSome well-known examples of LLMs include:\n\n1. GPT-3 (Generative Pre-trained Transformer 3) \u2014 An open-source LLM developed by OpenAI, capable of generating human-like text and performing various language tasks.\n\n2. BERT (Bidirectional Encoder Representations from Transformers) \u2014 A Google-developed LLM that is particularly good at understanding contextual relationships in text, and is widely used for natural language understanding tasks like sentiment analysis and named entity recognition.\n\n3. T5 (Text-to-Text Transfer Transformer) \u2014 Also from Google, T5 is a flexible LLM that frames all language tasks as text-to-text problems, where the model learns to generate output text based on input text prompts.\n\n4. RoBERTa (Robustly Optimized BERT Approach) \u2014 A variant of BERT that uses additional training techniques to improve performance.\n\n5. DeBERTa (Decoding-enhanced BERT with disentangled attention) \u2014 Another variant of BERT that introduces a new attention mechanism.\n\nLLMs have become increasingly powerful and larger in scale, improving the accuracy and sophistication of language tasks. They are also being used as a foundation for developing various applications, including chatbots, content recommendation systems, language translation services, and more.\nThe future of LLMs holds the potential for even more sophisticated language technologies, with ongoing research and development focused on enhancing their capabilities, improving efficiency, and exploring their applications in various domains."}]},"finish_reason":"COMPLETE","usage":{"billed_units":{"input_tokens":5,"output_tokens":418},"tokens":{"input_tokens":71,"output_tokens":418}}}}},{"code-samples":[{"sdk":"typescript","name":"Documents","code":"const { CohereClientV2 } = require(\u0027cohere-ai\u0027);\n\nconst cohere = new CohereClientV2({});\n\n(async () =\u003E {\n  const response = await cohere.chat({\n    model: \u0027command-a-plus-05-2026\u0027,\n    messages: [\n      {\n        role: \u0027user\u0027,\n        content: \u0027Who is more popular: Nsync or Backstreet Boys?\u0027,\n      },\n    ],\n    documents: [\n      {\n        data: {\n          title: \u0027CSPC: Backstreet Boys Popularity Analysis - ChartMasters\u0027,\n          snippet:\n            \u0027\u2193 Skip to Main Content\\n\\nMusic industry \u2013 One step closer to being accurate\\n\\nCSPC: Backstreet Boys Popularity Analysis\\n\\nHern\u00E1n Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\\n\\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\\n\\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.\u0027,\n        },\n      },\n      {\n        data: {\n          title: \u0027CSPC: NSYNC Popularity Analysis - ChartMasters\u0027,\n          snippet:\n            \u0022\u2193 Skip to Main Content\\n\\nMusic industry \u2013 One step closer to being accurate\\n\\nCSPC: NSYNC Popularity Analysis\\n\\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N\u0027Sync\\n\\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven\u0027t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\\n\\nIt wasn\u0027t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.\u0022,\n        },\n      },\n      {\n        data: {\n          title: \u0027CSPC: Backstreet Boys Popularity Analysis - ChartMasters\u0027,\n          snippet:\n            \u0022 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\\n\\nYet the way many music consumers \u2013 especially teenagers and young women\u0027s \u2013 embraced their output deserves its own chapter. If Jonas Brothers and more recently One Direction reached a great level of popularity during the past decade, the type of success achieved by Backstreet Boys is in a completely different level as they really dominated the business for a few years all over the world, including in some countries that were traditionally hard to penetrate for Western artists.\\n\\nWe will try to analyze the extent of that hegemony with this new article with final results which will more than surprise many readers.\u0022,\n        },\n      },\n      {\n        data: {\n          title: \u0027CSPC: NSYNC Popularity Analysis - ChartMasters\u0027,\n          snippet:\n            \u0022 Was the teen group led by Justin Timberlake really that big? Was it only in the US where they found success? Or were they a global phenomenon?\\n\\nAs usual, I\u0027ll be using the Commensurate Sales to Popularity Concept in order to relevantly gauge their results. This concept will not only bring you sales information for all NSYNC\u0027s albums, physical and download singles, as well as audio and video streaming, but it will also determine their true popularity. If you are not yet familiar with the CSPC method, the next page explains it with a short video. I fully recommend watching the video before getting into the sales figures.\u0022,\n        },\n      },\n    ],\n  });\n\n  console.log(response);\n})();\n"},{"sdk":"python","name":"Documents","code":"import cohere\n\nco = cohere.ClientV2()\n\nresponse = co.chat(\n    model=\u0022command-a-plus-05-2026\u0022,\n    messages=[{\n        \u0022role\u0022: \u0022user\u0022, \n        \u0022content\u0022: \u0022Who is more popular: Nsync or Backstreet Boys?\u0022\n    }],\n    documents=[\n        {\n            \u0022data\u0022:  {\n                \u0022title\u0022: \u0022CSPC: Backstreet Boys Popularity Analysis - ChartMasters\u0022,\n                \u0022snippet\u0022: \u0022\u2193 Skip to Main Content\\n\\nMusic industry \u2013 One step closer to being accurate\\n\\nCSPC: Backstreet Boys Popularity Analysis\\n\\nHern\u00E1n Lopez Posted on February 9, 2017 Posted in CSPC 72 Comments Tagged with Backstreet Boys, Boy band\\n\\nAt one point, Backstreet Boys defined success: massive albums sales across the globe, great singles sales, plenty of chart topping releases, hugely hyped tours and tremendous media coverage.\\n\\nIt is true that they benefited from extraordinarily good market conditions in all markets. After all, the all-time record year for the music business, as far as revenues in billion dollars are concerned, was actually 1999. That is, back when this five men group was at its peak.\u0022,\n            }\n        },\n        {\n            \u0022data\u0022:  {\n                \u0022title\u0022: \u0022CSPC: NSYNC Popularity Analysis - ChartMasters\u0022,\n                \u0022snippet\u0022: \u0022\u2193 Skip to Main Content\\n\\nMusic industry \u2013 One step closer to being accurate\\n\\nCSPC: NSYNC Popularity Analysis\\n\\nMJD Posted on February 9, 2018 Posted in CSPC 27 Comments Tagged with Boy band, N\u0027Sync\\n\\nAt the turn of the millennium three teen acts were huge in the US, the Backstreet Boys, Britney Spears and NSYNC. The latter is the only one we haven\u2019t study so far. It took 15 years and Adele to break their record of 2,4 million units sold of No Strings Attached in its first week alone.\\n\\nIt wasn\u2019t a fluke, as the second fastest selling album of the Soundscan era prior 2015, was also theirs since Celebrity debuted with 1,88 million units sold.\u0022,\n            }\n        },\n        {\n            \u0022data\u0022:  {\n                \u0022title\u0022: \u0022CSPC: Backstreet Boys Popularity Analysis - ChartMasters\u0022,\n                \u0022snippet\u0022: \u0022 1997, 1998, 2000 and 2001 also rank amongst some of the very best years.\\n\\nYet the way many music consumers \u2013 especially teenagers and young women\u2019s \u2013 embraced their output deserves its
[...]
